body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: linear-gradient(to right, rgb(8, 80, 120), rgb(133, 216, 206));

    #app {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1.6rem;

		.p-button-lg{
			margin: 1rem;
		}
	}
}